html {
    background-color: rgb(250, 250, 250);
    font:normal normal normal 1em/1.4 verdana,sans-serif;
}

body {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    background-color: rgb(255, 255, 255);
    max-width: 1050px;
    padding: 0 0 20px 0;
    margin: 20px auto 80px auto;
}

html, body {
    min-height:100vh;
    overflow:auto;
}

header {
    margin-left: 2%;
    margin-top: 2%;
    height:50px;
}

.center {
    margin: auto;
    width: 50%;
}

.content {
    width:90%;
    margin: auto;
}

.home:link, .home:visited {
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 10px 5px;
    text-decoration: none;
    display: inline-block;
}

.home:hover, .home:active {
    background-color: lightsteelblue;
}

.zero_margin {
    margin:0;
    height: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    min-width: 0;

    position:relative;

    /* border: 2px dashed grey; */
}

.image_frame {
    line-height: 250px;
    text-align: center;
}

.resize_center {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

.content_bottom {
    position: absolute;
    bottom: 5%;
}

.container > div {
    width:30%;
    margin:1%;
    height: 250px;

    /* border: 2px dashed black; */
    min-width: 270px;
}

.container > div.about {
    width:22%;
    margin:1%;
    min-width: 184px;
}

.button:link, .home:visited {
    border-radius: 5px;
    border: 1px solid grey;
    background-color: white;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
}

.button:hover, .home:active {
    background-color: lightsteelblue;
}

header img {
    text-align: center;
    padding-right: 10px;
    height: 30px;
    max-width: 120px;
    vertical-align: middle;
}

.about a {
    text-decoration: none;
    color: black;
}

.right-justify {
    display: inline-block;
    position: absolute;
    right: 20px;
}

/* .play_button {
    display: flex; 
    align-items: center; 
    justify-content: center;
} */

