html
{
    background-color: rgb(250, 250, 250);
    font:normal normal normal 1em/1.4 verdana,sans-serif;
}

body
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    background-color: rgb(255, 255, 255);
    max-width: 1050px;
    padding: 0 0 20px 0;
    margin: 20px auto 80px auto;
}

html, body
{
    min-height:100vh;
    overflow:auto;
}

header
{
    margin: 0;
    height:100px;
}

header p
{
    margin: 30px;
    color: rgb(0, 0, 0);
}

.center
{
    margin: auto;
    width: 50%;
    padding-top: 10%;
}