html {
    font:normal normal normal 1em/1.4 verdana,sans-serif;
    background-image: url("img/trans-bg2.png");
    background-color:skyblue;
}

body {
    margin: 0;
}

/* header{
    border: 1px dashed black;
} */

.home:link, .home:visited {
    color: rgba(0, 0, 0, 1);
    padding: 10px 5px;
    text-decoration: none;
    display: inline-block;
}

.home:hover, .home:active {
    color: rgba(0, 0, 0, 0.5)
}

.banner {
    position:relative;
}

.banner-img {
    display:block;
    width: 100%;
    height: 25vh;
}

.banner-text {
    position:absolute;
    text-align: center;
    margin:0;
    height:25vh;
    width:100%;
}

.banner-text h1 {
    margin:0;
}

section {
    background-color: white;
}

p {
    margin:0;
}

@media (min-width: 1200px) {
    .banner-text h1 {
        font-size: 105px;
    }
}

@media (min-width: 768px) {
    .banner-text h1 {
        font-size: 80px;
    }
}